
 body {
  background-color:#FFFFF0;
  color: #808080;
    }

h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
   color:#E6E6FA;


.Task1 {
    border: dotted 2px black;
}

 ol.aa {
list-style-type: lower-alpha;
}

 ul.AA{
list-style-type: square;
}


 
