
 body {
  background-color:#FFFFF0;
  color: #808080;
    }

h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
   color:#E6E6FA;


.task1 {
  border: 2px dotted;
  border-width: 100px;
   border-height: 100px;
}

 ol {
list-style-type: lower-alpha;
}

 ul {
list-style-type: square;
}


 
