body{
   /* background-color: ivory;*/
    background-color: lavender;
    color: gray;
    margin-left: 90px;
    margin-right: 90px;

}

h1{
    font-size:20px;
    text-align: center;
}

p{
    font-size: 16px;
   /* color: lavender;*/
  color: darkblue;
}

.MyDiv1 {
    border-style: dotted;
    border-width: 2px;
    width: 200px;
    height: 200px;
    
}

.over1{
    list-style-type: lower-alpha;
    color: black;
}

.under1{
    list-style-type: square;
    color: black;
}

.myimage1{
    display: flex;
    justify-content: center;
}
.img1, .img2, .img3 {
    width: 400px;
    padding: 5px;

}

.home1 ,.port1{
    background-color: yellow;
}
.myprogress{
    bottom: 0;
}


